#include <windows.h>

IDI_ICON1	ICON	DISCARDABLE	"ico/computer.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 1,2,3,4
	PRODUCTVERSION 5,6,7,8
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS__WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "040904b0"
			BEGIN
				VALUE "CompanyName", "Home"
                                VALUE "FileDescription", "My mega app"
                                VALUE "FileVersion", "1.1.1.1"
                                VALUE "LegalCopyright", "Copyright © 2020-2025"
				VALUE "OriginalFilename", "_For_tests.exe"
				VALUE "ProductName", "_For_tests"
                                VALUE "ProductVersion", "2.2.2.2"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0409, 1200
		END
	END
/* End of Version info */

