IDI_APP_ICON    ICON    DISCARDABLE     ico/computer.ico

#include <windows.h>
#include "src/defines.hpp"
#include "src/defines_win.hpp"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        STR_COMPANYNAME
            VALUE "FileDescription",    STR_FILEDESCRIPTION
            VALUE "FileVersion",        STR_FILEVERSION
            VALUE "InternalName",       STR_INTERNALNAME
            VALUE "LegalCopyright",     STR_LEGALCOPYRIGHT
            VALUE "LegalTrademarks1",   STR_LEGALTRADEMARKS1
            VALUE "LegalTrademarks2",   STR_LEGALTRADEMARKS2
            VALUE "OriginalFilename",   STR_ORIGINALFILENAME
            VALUE "ProductName",        STR_PRODUCTNAME
            VALUE "ProductVersion",     STR_PRODUCTVERSION
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
