BODY {color: #5A606D; font: 12px Verdana; margin: 0; padding: 0}
		
H1, H2, H3, H4, H5, H6 {margin: 0px 0 8px 0; font-weight: bold; text-transform: uppercase}
H1 {font-size: 18px}
H2 {font-size: 16px}
H3 {font-size: 13px}
H4 {font-size: 12px}
H5 {font-size: 11px}
H6 {font-size: 10px}	
		
TABLE {
		color: #5A606D;
		font: 12px Verdana;
		border-spacing: 0px;
		border-style: none	 
	  }
 
.main {background: url(/img/bg.gif) repeat-X top left; padding: 20px}
.title {color: #A4ABB6; font-size: 450%; padding: 0}
.subtitle {color: #A4ABB6}
.div-top {margin: -20px 0 0 4px; position: relative}
.download {color: #FFF; width: 136px; height: 51px; background: url(/img/download.gif) no-repeat top left; padding: 8px 10px; cursor: hand}

.dodo {font-size: 18px}

.menu td {padding: 6px 0}

A:Link {color:#0079D7; font-size: 12px}
A:Visited {color:#0079D7; font-size: 12px}
A:Hover {color:#1197FF; font-size: 12px}
A:Active{color:#0079D7; font-size: 12px}

A.bot:Link{color: #A4ABB6; text-decoration: none}
A.bot:Visited{color: #A4ABB6; text-decoration: none}
A.bot:Hover{color: #A4ABB6; text-decoration: underline}
A.bot:Active{color: #A4ABB6; text-decoration: none}

A.m:Link {color:#0079D7; font-size: 12px; font-weight: bold; text-decoration: none; text-transform: uppercase}
A.m:Visited {color:#0079D7; font-size: 12px; font-weight: bold; text-decoration: none; text-transform: uppercase}
A.m:Hover {color:#49C014; font-size: 12px; font-weight: bold; text-decoration: underline; text-transform: uppercase}
A.m:Active {color:#0079D7; font-size: 12px; font-weight: bold; text-decoration: none; text-transform: uppercase}

A.dnl:Link {text-decoration: none}
A.dnl:Visited {text-decoration: none}
A.dnl:Hover {text-decoration: none}
A.dnl:Active{text-decoration: none}

UL.features {margin: 8px; padding: 8px}
UL.features li {list-style-image:url(/img/li.gif); list-style position:outer; margin: .3em; padding: .3em}

UL li {list-style-image:url(/img/li.gif); list-style position:outer; margin: .2em; padding: .2em}/* Donation styles */.donate-block {border:1px solid #ccc; padding: 0 3px; text-align:center;}.donate-block h3 {margin: 10px 0;}.donation-row { width: 100%; height: 5px; background: #eee; margin: 0; padding: 0;}.donation-row  td {margin: 0; padding: 0;}.donation-sum-row {background: #2D8DFA;}.donation-sum {font-size: 10px; color: aaa; padding: 0 0 10px 0}.left-block {display: inline-block; width: 360px; margin: 0 30px 30px 0; float: left;}.right-block {display: inline-block; width: 360px; margin: 0 0 30px 0;}.clear {clear: both;}/* /Donation styles */
