QTableView, QMessageBox, QDialog, QListView {
	background-color: white;
	border: none;
}

QHeaderView, QHeaderView::section {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #f6f8fa, stop: 1 #f6f8fa);
}

QHeaderView::section {
	color: black;
	border: none;
	padding: 1ex;
	border-style: solid;
	border-left-width: 1px;
	border-left-color: #f6f8fa;
	border-right-color: #f6f8fa;
	border-right-width: 1px;
}

QTableView::item {
	color: black;
	padding-top: 1px;
	padding-bottom: 1px;
}

/*
 * Hack: Unlike QTreeView::item, QTableView::item has no :first and :last
 * selectors. To work around this, our backend sets State_Children and
 * State_Open, which we can catch here as :has-children and :open, respectively.
 */
QTableView::item:has-children {
	color: black;
	padding-left: 0.25em;
	/* The padding directive has no effect unless we specify a background: */
	background: transparent;
}
QTableView::item:open {
	padding-right: 0.25em;
}

QTableView::item:selected {
	color: black;
	/* Avoid the ugly default blue background color for selected cells: */
	background-color: #f6f8fa;
}

QTableView::item:focus {
	background-color: #f6f8fa;
}

QTableView #editor {
	/*
	 * The Qt "editor" when renaming a file. It's a QLineEdit, which has a
	 * border (see below). On Windows, this border shifts the file name down so
	 * much that underscores "_" are obscured. Prevent this:
	 */
	border-top: none;
	border-bottom: none;
}

QLabel, QRadioButton, QCheckBox {
	color: black;
}

QMessageBox QLabel {
	font-weight: normal;
}

QLineEdit {
	color: black;
	background-color: white;
	border: 1px solid #f6f8fa;
	border-left-color: #f6f8fa;
	border-top-color: #f6f8fa;
}

Prompt QLineEdit {
	min-width: 20em;
}

Quicksearch {
	background-color: white;
	color: black;
}

Quicksearch #query-container {
	/*
	 * The sole purpose of this Div is to draw an extra border at the bottom.
	 */
	padding: 0;
	margin: 3px;
	border: 1px solid #f6f8fa;
	border-bottom-color: #f6f8fa;
}

Quicksearch #query-container > Div {
	padding: 0;
	border: 1px solid #f6f8fa;
}

Quicksearch QLineEdit {
	color: black;
	background-color: white;
	border: 1px solid #f6f8fa;
	border-top-color: #f6f8fa;
	border-left-color: #f6f8fa;
	border-right-color: #f6f8fa;
}

Quicksearch #items-container {
	margin-bottom: 4px;
}

Quicksearch QListView {
	min-width: 40em;
	background-color: white;
	margin-left: 4px;
	margin-right: 4px;
}

Quicksearch QListView {
	background-color: white;
	color: black;
}
Quicksearch QListView::item:selected {
	background-color: #f6f8fa;
	color: black;
}

QLineEdit:read-only {
	color: black;
}

QStatusBar {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #f6f8fa, stop: 1 #f6f8fa);
	border-top: 1px solid #f6f8fa;
}

QStatusBar, QStatusBar QLabel {
	color: black;
}

QStatusBar QLabel {
	padding-left: .1ex;
}


SplashScreen {
	background-color: white;
	color: black;
}

SplashScreen QPushButton {
	max-width: 4em;
	background-color: white;
}

Overlay {
	min-width: 20em;
	max-width: 22em;
	background-color: white;
	color: black;
	border: 1px solid #f6f8fa;
}

Overlay QPushButton {
	max-width: 10em;
	color: black;
	background-color: white;
}

FilterBar {
	background-color: white;
	border: 1px solid #f6f8fa;
	min-width: 8em;
}

FilterBar QLineEdit {
	font-size: 9pt;
	width: 7em;
	margin: 0 .25em;
}

NonexistentShortcutDialog {
	min-width: 15em;
}

NonexistentShortcutDialog QRadioButton {
	margin-left: 1em;
}

NonexistentShortcutDialog QLineEdit {
	margin-left: 2.25em;
	margin-right: 1em;
}

QRadioButton::checked {
	color: black;
}

ProgressDialog {
	min-width: 25em;
	/*
	 * Make max-width at least a little wider than min-width.
	 * Otherwise, there sometimes seem to be visual artifacts.
	 */
	max-width: 30em;
	background-color: pink;
}
